@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:     Arial, Helvetica, sans-serif;
    color:black;
}
/* Hide scrollbar for Chrome, Safari and Opera */
 .no-scrollbar::-webkit-scrollbar { 
    display: none; 
} 
 /* Hide scrollbar for IE, Edge and Firefox */ 
 .no-scrollbar { 
    -ms-overflow-style: none; /* IE and Edge */ 
    scrollbar-width: none; /* Firefox */ 
}


.toastBody {
    font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
    color: #55636f; /* #10171D */
    font-size: 1.5rem ;
  }

  .shimmer{
    @apply  w-60 h-60  bg-slate-200 
    border rounded-md 
  }
  .circle{
    @apply  w-20 h-20 border rounded-full bg-slate-200
  }
  .cursive{
    font-family: cursive;
  }

  