*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;;
}
.card:hover {
    
    border: 1px solid #aaaaaa ;
    box-shadow: .2rem .2rem .2rem #aaaaaa;
}
.shimmer-cards{
    width:14rem;
     margin-top:1rem;
     height:12rem;
     border-radius:1rem;
     background-color: #f0f0f0;
}
.shimmer-logo{
    width:8rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #f0f0f0;
}
.food-logos{
    overflow:scroll;
    
}
.ResturanDetails {
  
  font-weight: 700;
}
.Bold{
    font-weight: 700;
}
.resturant{
    border: 1px solid #aaaaaa ;
    box-shadow: .2.1rem .2rem .2rem #aaaaaa;
}
.resturant{

}